body {
         background-position: center center;
         background-attachment: fixed;
         background-size: cover;
}
.grid-container {
         display: grid;
         grid-template-columns: auto auto auto;
         background-color: #291a3e;
         padding: 10px;
         width: 98%;
}

.grid-item {
  background-color: rgba(213, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.enjoy-css {
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     width: 300px;
     height: 80px;
     cursor: pointer;
     margin: 0 auto;
     border-top: 2px solid rgba(0,157,255,1);
     border-right: 4px solid rgba(0,157,255,1);
     border-bottom: 2px solid rgba(0,157,255,1);
     border-left: 4px solid rgba(0,157,255,1);
     -webkit-border-radius: 30px;
     border-radius: 30px;
     font: normal 53px/91px "syncopate", Helvetica, sans-serif;
     color: rgba(0,157,255,1);
     text-align: center;
     -o-text-overflow: clip;
     text-overflow: clip;
     word-spacing: 2px;
     -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
     -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
     -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.enjoy-css:hover {
     -webkit-border-radius: 32px;
     border-radius: 32px;
     color: rgba(0,140,255,1);
     background: -webkit-linear-gradient(-90deg, rgba(208,244,242,1) 0, rgba(10,209,169,0.25) 43%, rgba(73,204,95,0.49) 74%, rgba(60,227,242,1) 100%);
     background: -moz-linear-gradient(180deg, rgba(208,244,242,1) 0, rgba(10,209,169,0.25) 43%, rgba(73,204,95,0.49) 74%, rgba(60,227,242,1) 100%);
     background: linear-gradient(180deg, rgba(208,244,242,1) 0, rgba(10,209,169,0.25) 43%, rgba(73,204,95,0.49) 74%, rgba(60,227,242,1) 100%);
     background-position: 50% 50%;
     -webkit-background-origin: padding-box;
     background-origin: padding-box;
     -webkit-background-clip: border-box;
     background-clip: border-box;
     -webkit-background-size: auto auto;
     background-size: auto auto;
}

.enjoy-css:active {
     background: -webkit-linear-gradient(-90deg, rgba(208,244,242,1) 0, rgba(10,209,169,0.47) 28%, rgba(73,184,204,0.56) 57%, rgba(60,227,242,1) 100%);
     background: -moz-linear-gradient(180deg, rgba(208,244,242,1) 0, rgba(10,209,169,0.47) 28%, rgba(73,184,204,0.56) 57%, rgba(60,227,242,1) 100%);
     background: linear-gradient(180deg, rgba(208,244,242,1) 0, rgba(10,209,169,0.47) 28%, rgba(73,184,204,0.56) 57%, rgba(60,227,242,1) 100%);
     background-position: 50% 50%;
     -webkit-background-origin: padding-box;
     background-origin: padding-box;
     -webkit-background-clip: border-box;
     background-clip: border-box;
     -webkit-background-size: auto auto;
     background-size: auto auto;
}

.container {
  display: block;
  margin-left: 32%;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark_todel {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #ffafaf;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark_todel {
  background-color: #ff6b6b;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark_todel {
  background-color: #ff1d1d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark_todel:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark_todel:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark_todel:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark_promote {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #afffff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark_promote {
  background-color: #67ff96;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark_promote {
  background-color: #00ff22;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark_promote:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark_promote:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark_promote:after {
  left: 14px;
  top: 5px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
