.post-cell {
    display: grid;
    padding-top: 10px;
    border: 1px dashed #47bdce;
    background-color: #d2f6fb;
    grid-template-rows: 180px 180px 40px;
    grid-template-columns: auto 220px auto;
    grid-template-areas:
      "sdl main sdr_top"
      "sdl main sdr"
      ". ft .";
}

.post-cell_promoted {
    display: grid;
    padding-top: 10px;
    border: 1px solid #00cc80;
    background-color: #71ffbc;
    grid-template-rows: 180px 180px 40px;
    grid-template-columns: auto 220px auto;
    grid-template-areas:
        "sdl main sdr_top"
        "sdl main sdr"
        ". ft .";
}

.post-cell_deleted {
    display: grid;
    padding-top: 10px;
    border: 1px solid #fd5fa1;
    background-color: #ffa6cf;
    grid-template-rows: 180px 180px 40px;
    grid-template-columns: auto 220px auto;
    grid-template-areas:
        "sdl main sdr_top"
        "sdl main sdr"
        ". ft .";
}

.footer {
    grid-area: ft;
    display: flex;
    justify-content: center;
}
.content {
    grid-area: main;
}
.sidebar_left {
    grid-area: sdl;
}
.sidebar_right {
    grid-area: sdr;
}
.sidebar_right_top {
    grid-area: sdr_top;
}

