{% macro create_categories_panel(categories) %}
<div class="panel-row">
{% for c in categories %}
    <a class="fancy-button" href="{{ url_for('index', type=type, cat=c) }}">
        <span style="color: darkslategray;"><b>{{c}}</b></span>
    </a>
{% endfor %}
</div>
{% endmacro %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Welcome, master</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css')}}"/>
</head>

<body>
    <div class="panel-row">
        <a class="fancy-button" href="{{ url_for('index') }}">
            <span style="color:darkslategrey"><b>Common</b></span>
        </a>
        <a class="fancy-button" href="{{ url_for('index', type='profile') }}">
            <span style="color: #d80000;">Profiles</span>
        </a>
        <a class="fancy-button" href="{{ url_for('index', type='sound') }}">
            <span style="color: #000e71;">Sounds</span>
        </a>
        <a class="fancy-button" href="{{ url_for('index', type='custom') }}">
            <span style="color:#73006a">Custom</span>
        </a>
    </div>

    {% if categories %}
        {{ create_categories_panel(categories) }}
    {% endif %}

    <div class="grid-container">
        {% for p in ponds %}
            <div class="grid-item">
            {% if 'last_post' in p %}
                <a href="{{ url_for('promote', uid=p['uid'], lastpid=p['last_post']) }}">
            {% else %}
                <a href="{{ url_for('promote', uid=p['uid']) }}">
            {% endif %}
                    <div style="background-color:#b9ffdb;font-size:26;margin-bottom: 5px;margin-right: 7;border-radius: 7px;padding: 5px;padding-left: 10px;">
                        {{ p['uid'] }}
                    </div>
                </a>
                <div>
                <a style="text-decoration-color:darkslategrey" href="{{ url_for('promote', uid=p['uid']) }}">
                    <b><span style="color:darkslategrey">{{ p['overall_count'] }}</span></a></b>
                
                    {% if p['promo_count'] > 0 %}
                        <a style="text-decoration-color:green" href=promote.py?uid=%s&srcl=promo>
                        <span style="color:green">/<b>{{ p['promo_count'] }}</b></span></a>
                    {% endif %}
                    {% if p['todel_count'] > 0 %}
                        <a style="text-decoration-color:#e01632" href=promote.py?uid=%s&srcl=todel>
                        <span style="color:#e01632">/<b>{{ p['todel_count'] }}</b></span></a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
     </div>
</body>
</html>